<%- include('../partials/header.ejs'); -%> <%-
include('../partials/navigation_main.ejs'); -%>
<section class="section">
		<h1 class="title is-1">Cakes</h1>
	</div>
</section>

<%- include('../partials/footer_main.ejs'); -%>
