<%- include('../partials/header.ejs'); -%>

<div
	style="
		height: 40px;
		background-color: var(--white);
		display: flex;
		align-items: center;
		padding-inline-start: 20px;
		color: var(--text-on-white);
	"
>
	<span class="subtitle">Location</span>
</div>
<div class="main-content">
	<h1>Home</h1>

	<h4>Link to items</h4>
	<p>
		<a href="./item/milk_shake">Milk Shake</a>
		<a href="./item/blueberry_muffin">Blueberry Muffin</a>
		<a href="./item/scone">Scone</a>
	</p>
</div>

<%- include('../partials/footer.ejs'); -%>
