<h1>Home</h1>

<a href="/templatetest">Click to see Mustache man!</a>

<h2>Link to items</h2>
<a href="/item/milk_shake">Milk Shake</a>
<a href="/item/blueberry_muffin">Blueberry Muffin</a>
<a href="/item/scone">Scone</a>
