<%- include('../partials/header.ejs'); -%> <%-
include('../partials/navigation_main.ejs'); -%>
<section class="section">
	<% if (user) { %>
	<h1 class="title is-1"><%= user.name %></h1>
	<% } %>
</section>
<%- include('../partials/footer_empty.ejs'); -%>
