@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

:root {
	--black: #1c1b1e;
	--white: #fffbfe;
	--text-on-white: #1c1b1e;
	--is-primary: rgb(75 19 161);
	--text-on-purple: #f0ecf8;
	--green: #f2fff4;
	--text-on-green: #00210f;
	--pink-purple: #a706a8;
	--text-on-pink-purple: #fff;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0 none;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--white);
	color: var(--text-on-white);
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

h1,
h2,
h3 {
	max-width: 30ch;
}

p,
li {
	max-width: 70ch;
}

a {
	text-decoration: none;
}
