*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0 none;
	box-sizing: border-box;
}

html {
	background-color: var(--green);
}

:root {
	--black: #1c1b1e;
	--white: #fff;
	--purple: #4000a5;
	--green: #e3ffe9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto-Light, ui-sans-serif, sans-serif;
}

header {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	color: var(--white);
	background-color: var(--purple);
}

header > h1 {
	font-size: 22px;
	letter-spacing: 1px;
}

header > .hamburger-menu {
	display: flex;
	align-items: center;
}

header > .hamburger-menu:hover {
	transform: scale(1.1, 1.1);
	transition: ease-in-out 30ms;
	cursor: pointer;
}

header > .inner-flex {
	margin-left: auto;
	display: flex;
	gap: 10px;
}
