header {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	color: var(--text-on-purple);
	background-color: var(--purple);
}

#top-app-bar__title {
	font-size: 24px;
	letter-spacing: 0.2px;
	line-height: 32px;
	font-family: Roboto-Medium, ui-sans-serif, sans-serif;
	font-weight: 500;
}

.hamburger-menu svg,
#search-icon svg,
#user-icon svg {
	display: flex;
	width: 24px;
	height: 24px;
}

header > .hamburger-menu {
	align-items: center;
}

header > .hamburger-menu:hover {
	transform: scale(1.1, 1.1);
	transition: ease-in-out 30ms;
	cursor: pointer;
}

header > .inner-flex {
	margin-left: auto;
	display: flex;
	gap: 10px;
}
