<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./public/css/global.css" />
		<link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico" />
		<link
			href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
			rel="stylesheet"
		/>

		<style>
			@font-face {
				font-family: 'Roboto';
				src: url('/public/fonts/Roboto-Regular-webfont.woff') format('woff');
			}
			@font-face {
				font-family: 'Roboto-Light';
				src: url('/public/fonts/Roboto-Light-webfont.woff') format('woff');
			}
			@font-face {
				font-family: 'Roboto-Medium';
				src: url('/public/fonts/Roboto-Medium-webfont.woff') format('woff');
			}
		</style>
		<title>Local Bakery ^w^</title>
	</head>

