<!-- TODO: Add open search on click -->
<!-- TODO: Add navigation bar on small screens -->

<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link"> Our Products </a>

						<div class="navbar-dropdown">
							<a class="navbar-item" href="/cupcakes"> Cupcakes </a>
							<a class="navbar-item" href="cakes"> Cakes </a>
							<a class="navbar-item" href="/pies"> Pies </a>
							<a class="navbar-item" href="/cookies"> Cookies </a>
						</div>
					</div>
					<a class="navbar-item" href="/order"> Order Now </a>
				</div>
			</div>
			<div class="navbar-brand is-mobile">
				<a class="navbar-item" href="/">
					<img
						src="../public/assets/your-local-bakery-logo.png"
						width="173px"
						height="29px"
						alt="Local Bakery logo"
					/>
				</a>

				<a
					role="button"
					class="navbar-burger"
					aria-label="menu"
					aria-expanded="false"
					data-target="navbarBasicExample"
				>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item">
						<span class="icon">
							<%- include('../public/feather/search.svg'); -%>
						</span>
					</a>
					<a class="navbar-item" href="/user-profile">
						<span class="icon">
							<%- include('../public/feather/user.svg'); -%>
						</span>
					</a>
					<a class="navbar-item" href="/cart">
						<span class="icon">
							<%- include('../public/feather/shopping-cart.svg'); -%>
						</span>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>
<main>
<div class="container">
